# API URL (Backend)
NEXT_PUBLIC_API_URL=https://smart-society-management-api.onrender.com/api

# Razorpay (Public Key Only)
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxx

# ImageKit (Public)
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=public_PNP/Mz35m7ZsrqqPqT0TU8hd7bA=
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/phpd8o4ch
