# Server
NODE_ENV=development
PORT=4000

# Database
MONGODB_URI=mongodb://127.0.0.1:27017/society_management

# JWT
JWT_SECRET=JWT_SECRET=asim_society_management_system_2026
JWT_EXPIRES_IN=7d

# Razorpay
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx

# Brevo
BREVO_API_KEY=xkeysib-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BREVO_SENDER_EMAIL=asimwadhwa19@gmail.com
BREVO_SENDER_NAME=Asim Wadhwa Society

# ImageKit
IMAGEKIT_PUBLIC_KEY=public_xxxxxxxxxxxx
IMAGEKIT_PRIVATE_KEY=private_xxxxxxxxxxxx
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id

# Client URL (for CORS)
CLIENT_URL=http://localhost:3000

# OTP
OTP_EXPIRY_MINUTES=10
