{% extends 'base.html' %}
{% block content %}

<h3>Owner Dashboard</h3>

<h4>My Flat Info</h4>
{% if flat %}
    <p><strong>Society:</strong> {{ flat.society.name }}</p>
    <p><strong>Address:</strong> {{ flat.society.address }}</p>
    <p><strong>Flat Number:</strong> {{ flat.flat_number }}</p>
{% else %}
    <p>No flat assigned yet.</p>
{% endif %}

<h4>Maintenance Bills</h4>

<table>
    <tr>
        <th>Month/Year</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Due Date</th>
    </tr>

    {% for b in bills %}
    <tr>
        <td>{{ b.month }} {{ b.year }}</td>
        <td>₹{{ b.amount|floatformat:2 }}</td>

        <td>
            {% if b.status == "PAID" %}
                <span style="color:green; font-weight:bold;">Paid</span>
                {% if b.payment_date %}
                    <br>
                    <small>Paid on: {{ b.payment_date|date:"d M Y" }}</small>
                {% endif %}
            {% else %}
                <span style="color:red; font-weight:bold;">Unpaid</span>

                <form method="post" action="{% url 'mark_bill_paid' b.id %}" style="margin-top:5px;">
                    {% csrf_token %}
                    <button type="submit">Mark as Paid</button>
                </form>
            {% endif %}
        </td>

        <td>{{ b.due_date|date:"d M Y" }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No bills found.</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
